


<section class="banner">
    <div class="full-container">
        <div class="banner__imgs">
            <img class="banner__img" src="imgs/bst-ynm/banner-ynm.jpg" alt="">
        </div>
    </div>
</section>

<section class="collection">
    <div class="fluid-container">
        <div class="row">
            <div class="col l-6">
                <img src="./imgs/bst-ynm/ynm (1).jpg" alt="" class="items__img">
            </div>
            <div class="col l-6">
                <div class="row">
                    <div class="heading-title">
                        <h2>YOUR NEXT MOVE</h2>
                        <p>The collection "Your Next Move" takes inspiration from navy colors and modern silhouettes, serving as a ready-to-go toolkit for women who are prepared to take charge and adapt to the changes of everyday life.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col l-6 gutter">
                        <img src="./imgs/bst-ynm/ynm-item (1).jpg" alt="" class="items__img">
                        <div class="item__title center">
                            <h3 class="item__title-header">Name of product</h3>
                            <span class="item__title-price">$1000</span>
                        </div>
                    </div>
                    <div class="col l-6 gutter">
                        <img src="./imgs/bst-ynm/ynm-item (2).jpg" alt="" class="items__img">
                        <div class="item__title center">
                            <h3 class="item__title-header">Name of product</h3>
                            <span class="item__title-price">$1000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="end-row">
        <div class="row space-between">
            <div class="col l-6 gutter"><img src="./imgs/bst-ynm/ynm (2).jpg" alt="" class="items__img"></div>
            <div class="col l-6 gutter"><img src="./imgs/bst-ynm/ynm (3).jpg" alt="" class="items__img"></div>
        </div>
    </div>
</section>

