<section class="banner">
    <div class="full-container">
        <div class="banner__imgs">
            <img class="banner__img" src="imgs/banner-2.jpg" alt="">
        </div>
    </div>
</section>
<section class="new-items">
    <div class="container">
        <div class="heading-title">
            <h2>NEW ITEMS</h2>
            <p>The internationally trending products, the fashionable ladies should not miss out.</p>
        </div>
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/new (1).jpg" alt="" class="items__img">
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/new (2).jpg" alt="" class="items__img">
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/new (3).jpg" alt="" class="items__img">
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/new (4).jpg" alt="" class="items__img">
            </div>
        </div>
        <div class="row">
            <div class="items__collection-btn" >
                <button>
                    <a href="#">VIEW ALL</a>
                </button>
            </div>
        </div>
    </div>
</section>
<hr class="end-sec">

<section class="mini-banner">
    <div class="fluid-container">
            <div class="row">
                <div class="col l-3 m-3 s-12">
                    <span class="mini-banner__title">EXCLUSIVE PRESENT</span>
                </div>
                <div class="col l-6 m-6 s-12">
                    <div class="mini-banner__details">
                        <a href="#">Blooming & Beauties Go-Bag</a>
                        <button>ONLINE EXECUTIVE</button>    
                    </div>
                </div>
                <div class="col l-3 m-3 s-12">
                    <a href="#" class="mini-banner__link">BUY NOW</a>
                </div>
            </div>
    </div>
</section>

<section class="suggestion">
    <div class="container">
        <div class="heading-title">
            <h2>SUGGESTED FOR YOU</h2>
        </div>
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/suggest (1).jpeg" alt="" class="items__img">
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/suggest (2).jpeg" alt="" class="items__img">
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/suggest (3).jpeg" alt="" class="items__img">
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/suggest (4).jpeg" alt="" class="items__img">
            </div>
        </div>
        <div class="row">
            <div class="items__collection-btn" >
                <button>
                    <a href="#">VIEW ALL</a>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="spotlight">
    <div class="fluid-container">
        <div class="spotlight-title">
            <h2>Shop spotlight</h2>
            <p>Accompanying fashion lovers</p>
        </div>
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <img  class="items__img" src="./imgs/spotlight (1).jpg" alt="">
            </div>
            <div class="col l-3 m-6 s-12">
                <img  class="items__img" src="./imgs/spotlight (2).jpg" alt="">
            </div>
            <div class="col l-3 m-6 s-12">
                <img  class="items__img" src="./imgs/spotlight (3).jpg" alt="">
            </div>
            <div class="col l-3 m-6 s-12">
                <img  class="items__img" src="./imgs/spotlight (4).jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="mini-banner">
    <div class="fluid-container">
            <div class="row">
                <div class="col l-9 m-3 s-12">
                    <span class="mini-banner__title">BE A COUTURE QUEEN</span>
                    <span class="mini-banner__details">and receive instant offers</span>
                </div>
                <div class="col l-3 m-3 s-12">
                    <a href="#" class="mini-banner__link">ENROLL NOW</a>
                </div>
            </div>
    </div>
</section>