<section class="banner">
    <div class="full-container">
        <div class="banner__imgs">
            <img class="banner__img" src="imgs/banner-1.jpg" alt="">
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="heading-title">
            <h2>NEW ITEMS</h2>
            <p>The internationally trending products, the fashionable ladies should not miss out.</p>
        </div>
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (1).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (2).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (3).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (4).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (5).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (6).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (7).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (8).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (9).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (10).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (11).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
            <div class="col l-3 m-6 s-12">
                <img src="./imgs/item (12).jpeg" alt="" class="items__img">
                <div class="item__title">
                    <h3 class="item__title-header">Name of product</h3>
                    <span class="item__title-price">$1000</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="items__show">
                <button>VIEW MORE OTHER PRODUCTS</button>
            </div>
        </div>
    </div>
</section>